input[type=text],
input[type=submit],
textarea {
	width: 100%;
	padding: 0.5em;
	font-size: 1em;
	margin-bottom: 1.5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.navbar-fixed-top .container {
	width: auto;
}

.navbar .brand a {
	padding: 0;
	color: #fff;
	font-size: 1.75em;
	margin-left: 0;
	font-weight: normal;
	font-family: 'Patua One', cursive;
}

.navbar .brand a:hover {
	text-decoration: none;
	color: #f0bf00;
	transition: color .15s linear;
	-webkit-transition: color .15s linear;
	-moz-transition: color .15s linear;
}

.navbar-inverse .navbar-inner {
	background-repeat: repeat;
	background-color: #0b333f;
	border-color: #f0bf00;
}

ul#menu-main>li>a {
	margin-top: 15px;
	font-family: 'Patua One', cursive;
	font-weight: normal;
	font-size: 25px;
	color: #fff;

}

ul#menu-main>li>a:hover {
	background: #f0bf00;
	padding: 9px 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.navbar-inverse .brand,
.navbar-inverse .nav>li>a {
	text-shadow: none;
}

#headerwrap {
	width: 100%;
	background: #0b333f;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	;
	min-height: 600px;
	margin-top: -60px;
	padding-top: 160px;
	text-align: center;
}

#headerwrap h1 {
	color: #FFFFFF;
	font-family: 'Patua One', cursive;
	font-size: 4em;
	font-weight: 400;
	margin: 1em 0;
}

#headerwrap h2 {
	color: #FFFFFF;
	font-family: 'Open Sans', sans serif;
	font-size: 2em;
	font-weight: normal;
	margin: 0.5em 0;
	text-shadow: 1px 1px 1px #333333;
}


#headerwrap input[type=text] {
	background: rgba(227, 231, 228, 1);
	font-family: 'Open Sans', sans serif;
	font-size: 1.3125em;
	border: 0;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 0 !important;
}

#headerwrap input[type=text] {
	height: 2.9em;
	width: 50%;
}

#headerwrap input[type=submit] {
	font-family: 'Patua One', cursive;
	color: #fff;
	width: 185px;
	height: 2.9em;
	font-size: 1.3125em;

	padding: 0.5em;
	letter-spacing: 0.05em;
	margin: 0;
	border: 0;
	text-transform: none;
	background: #f0bf00 !important;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#headerwrap input[type=submit]:hover,
#headerwrap input[type=submit]:active {
	background: #43413e !important;
}

#feature {
	background-color: #f0bf00;
	height: 406px;
}

#feature article p {
	font-family: 'Patua One', cursive;
	font-size: 40px;
	margin-bottom: 0;
	line-height: 1.35;
	color: #fff;
}

section#team,
section#contact {
	color: #e4e5e2;
	background: #0b333f;
}

#team h1,
#contact h1 {
	font-size: 3em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}

#team h3,
	{
	text-align: center;
}

#theme-form input[type=text] {
	height: 3.25em;
}

#theme-form input[type=submit] {
	font-family: 'Patua One', cursive;
	color: #fff;
	width: 185px;
	height: 60px;
	font-size: 25px;
	display: block;
	border: 0;
	background: #f0bf00 !important;
	border-radius: 20px;
}

#theme-form input[type=submit]:hover,
#theme-form input[type=submit]:active {
	background: #43413e !important;
}

img {
	width: auto\9;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
.pull-right {
	float: right;
}
.navbar-inverse .navbar-inner {
	background:#0b333f;
}
label, select, button, input[type=button], input[type=reset], input[type=submit], input[type=radio], input[type=checkbox] {
	cursor: pointer;
}